*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(purp.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Poppins",sans-serif;
}
.d1{
    position: relative;
    padding:20px;
    height: 550px;
    width: 380px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.d11{
    width: 90%;
    text-align: left;
    border-bottom: 1px solid rgb(35, 33, 33);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.d1 input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
}
.d12{
    padding-top:8px;
    padding-bottom: 20px;
    text-align: right;
}

.i{
    position: absolute;

}
.d13 {
    width: 85%;
    height: 45px;
    background-image: linear-gradient(to right , rgb(76, 76, 223),rgb(221, 76, 221));
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 8px ;
    font-size: 18px;
    align-items: center;   
}
.d13:hover{
    box-shadow: 0 0 12px ;
    font-size: 20px;

}
.d14{
    padding-top:30px;
    text-align: center;

}
.d15{
    margin-top: 20px;
}
#d16:hover{
    border-radius: 50%;
    background-color: rgb(238, 222, 241);
    box-shadow: 0 0 5px ;
   
}
.ip{
    font-size: 13px;
}
@media screen and (max-width: 600px) {
    .d1{
        position: relative;
        padding:15px;
        height: 500px;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    
}
